<h1>All events created by you</h1>

<h2>Previously Created Events</h2>
<ul> 
  <% @past.each do |event|%>
    <li>
    <%= link_to event.name, event_path(event) %>
    </li>
  <%end%>
</ul>

<h2>Upcoming Created Events</h2>
<ul> 
  <% @future.each do |event|%>
    <li>
    <%= link_to event.name, event_path(event) %>
    </li>
  <%end%>
</ul>  