<h1>All events created by you</h1>

<h2>Previously Created Events</h2>
<% @past.each do |event| %>
  <%= event.name %>
<% end %>

<h2>Upcoming Created Events</h2>
<% @future.each do |event| %>
  <%= event.name %>
<% end %> 